# Kustomization for staging environment
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

resources:
- ../base/deployment.yaml
- ../base/hpa.yaml
- ../base/ingress.yaml
- ../base/configmap.yaml
- ../base/secrets.yaml

namePrefix: staging-

patchesStrategicMerge:
- deployment-patch.yaml
- hpa-patch.yaml
- ingress-patch.yaml

configMapGenerator:
- name: stackbrowseragent-config
  behavior: merge
  literals:
  - NODE_ENV=staging
  - LOG_LEVEL=debug

images:
- name: stackbrowseragent
  newTag: staging-latest
