# Kustomization for production environment
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
- ../base/deployment.yaml
- ../base/hpa.yaml
- ../base/ingress.yaml
- ../base/configmap.yaml
- ../base/secrets.yaml

namePrefix: prod-

patchesStrategicMerge:
- deployment-patch.yaml
- hpa-patch.yaml
- ingress-patch.yaml

configMapGenerator:
- name: stackbrowseragent-config
  behavior: merge
  literals:
  - NODE_ENV=production
  - LOG_LEVEL=info

images:
- name: stackbrowseragent
  newTag: v1.0.0
